<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.lzx.sample.svc.platform.order.mapper.OrderItemMapper">
    <resultMap id="OrderItemMapping" type="top.lzx.sample.svc.platform.entity.entity.OrderItem">
        <id column="id" property="id" jdbcType="INTEGER" />
        <id column="order_id" property="orderId" jdbcType="INTEGER" />
        <id column="name" property="name" jdbcType="VARCHAR" />
        <id column="count" property="count" jdbcType="VARCHAR" />
        <id column="price" property="price" jdbcType="VARCHAR" />
        <id column="status" property="status" jdbcType="VARCHAR" />
        <id column="create_time" property="createTime" jdbcType="DATE" />
        <id column="update_time" property="updateTime" jdbcType="DATE" />
    </resultMap>

    <insert id="insertOrderItem" parameterType="top.lzx.sample.svc.platform.entity.entity.OrderItem" useGeneratedKeys="true"  >
        insert into order_item (order_id,name,count,price,status,create_time,update_time)
        values
        (#{orderId},#{name},#{count},#{price},#{status},#{createTime},#{updateTime})
    </insert>

    <update id="updateOrderItem" parameterType="top.lzx.sample.svc.platform.entity.entity.OrderItem">
        update order_item
        <set>
            <if test="orderId !=null and orderId !=''">
                order_id =#{orderId},
            </if>
            <if test="name !=null and name !=''">
                name =#{name},
            </if>
            <if test="count !=null and count !=''">
                count =#{count},
            </if>
            <if test="price !=null and price !=''">
                price =#{price},
            </if>
            <if test="status !=null and status !=''">
                status =#{status},
            </if>
            <if test="createTime !=null">
                create_time =#{createTime},
            </if>
            <if test="updateTime !=null">
                update_time =#{updateTime},
            </if>
        </set>
        where id =#{id}
    </update>

    <select id="selectOrderItemById" parameterType="java.lang.Integer" resultType="top.lzx.sample.svc.platform.entity.entity.OrderItem"  >
        select * from order_item where id = #{id}
    </select>

    <select id="getOrderItemList" resultType="top.lzx.sample.svc.platform.entity.entity.OrderItem"  >
        select * from order_item
    </select>

    <select id="getOrderItemListByOrderId" resultType="top.lzx.sample.svc.platform.entity.entity.OrderItem"  >
        select * from order_item where order_id = #{orderId}
    </select>

    <delete id="deleteOrderItemById" parameterType="java.lang.Integer">
      delete from order_item where id = #{id}
    </delete>





</mapper>