# Default options are read from the following files in the given order:
# /etc/my.cnf /etc/mysql/my.cnf ~/.my.cnf
# 该配置文件覆盖 mysql 官方docker镜像默认配置文件路径/etc/my.cnf

[mysqld]
log_error=/logRoot/mysql/mysql-error.log  #错误日志
slow_query_log=ON  #开启慢日志
slow_query_log_file=/logRoot/mysql/mysql-slow.log   #日志存放位置
long_query_time=1  #超时时间1秒（超过1秒就会被记录下来）

default-time_zone='+8:00'

!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mysql.conf.d/